{% extends "naturescall/base.html" %}

{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'naturescall/about.css' %}">
<style>
    a {
        color: white;
    }
    a:hover {
        color: grey;
    }
</style>
{% endblock %}

{% block content %}
{% load static %}
<div class="container about">
    <div class="banner-wrapper mb-3">
        <div class="banner-img">
            <img src="{% static 'naturescall/images/team2_group_photo.jpg' %}" alt="">
        </div>
        <div class="banner-text">
            <h1>About us</h1>
        </div>
    </div>
    <p>
        Hello, world. This is Nature&#39s Call, an app that&#39s created to help people with their basic, urgent need when they&#39re outside of their house and when available restroom is hard to find. We notice that in NYC, it's hard to find restroom that is easily accessible. For this reason, we decided to make a community-based app allowing poeple to pinpoint the places that can be potential spots for restroom and help out others in this community to easily find the restrooms in NYC.
    </p>
</div>
<br>
<div class="container white-center-shadow">
    <h1>
        <span class="fa fa-users"></span>
        Team
    </h1>
</div>
<div class="container">
    <div class="row my-3 mx-auto">
        <div class="col">
            <div class="card p-3">
                <h2 class="card-text">
                    Alex Kim
                    <a href=" https://github.com/ajk8710/">
                        <span class="fa fa-github"></span>
                    </a>
                    <span class="fa fa-linkedin-square"></span>
                </h2>
            </div>
        </div>
        <div class="col">
            <div class="card p-3">
                <h2 class="card-text">
                    Divya Gupta
                    <a href="https://github.com/VISHDIVGAU">
                        <span class="fa fa-github"></span>
                    </a>
                    <a href="https://www.linkedin.com/in/divya-gupta-66981a40/">
                        <span class="fa fa-linkedin-square"></span>
                    </a>
                </h2>
            </div>
        </div>
        <div class="col">
            <div class="card p-3">
                <h2 class="card-text">
                    Hao Cheng
                    <a href="https://github.com/HerrKartoffelchip">
                        <span class="fa fa-github"></span>
                    </a>
                    <a href="https://www.linkedin.com/in/hao-c-68b8a6a7/">
                        <span class="fa fa-linkedin-square"></span>
                    </a>
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row my-3 mx-auto">
        <div class="col">
            <div class="card p-3">
                <h2 class="card-text">
                    Jon Blue
                    <a href="https://www.linkedin.com/in/jonblue/">
                        <span class="fa fa-github"></span>
                    </a>
                    <a href="https://github.com/jonrblue">
                        <span class="fa fa-linkedin-square"></span>
                    </a>
                </h2>
            </div>
        </div>
        <div class="col">
            <div class="card p-3">
                <h2 class="card-text">
                    Simon Chao
                    <a href="https://github.com/SimonYSC">
                        <span class="fa fa-github"></span>
                    </a>
                    <a href="https://www.linkedin.com/in/simon-chao-684905184/">
                        <span class="fa fa-linkedin-square"></span>
                    </a>
                </h2>
            </div>
        </div>
        <div class="col">
            
        </div>
    </div>
</div>
{% endblock %}