{% extends "naturescall/base.html" %}

{% block style %}
<style>
    .about {
        color: white;
        text-shadow: 2px 2px black;
    }
    .card {
        background-color: rgba(0,0,0,0.5);
    }
    .card-text, .card-title {
        color: white;
        text-shadow: 2px 2px black;
    }
</style>
{% endblock %}

{% block content %}
<div class="container about">
    <h1>About Us</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>
<br>
<div class="container">
    <div class="row my-3 mx-auto">
        <div class="col">
            <div class="card p-3">
                <h2 class="card-title">Name One</h2>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque volutpat ac tincidunt vitae semper quis lectus. A diam sollicitudin tempor id eu nisl nunc mi ipsum.
                </p>
            </div>
        </div>
        <div class="col">
            <div class="card p-3">
                <h2 class="card-title">Name Two</h2>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque volutpat ac tincidunt vitae semper quis lectus. A diam sollicitudin tempor id eu nisl nunc mi ipsum.
                </p>
            </div>
        </div>
        <div class="col">
            <div class="card p-3">
                <h2 class="card-title">Name Three</h2>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque volutpat ac tincidunt vitae semper quis lectus. A diam sollicitudin tempor id eu nisl nunc mi ipsum.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row my-3 mx-auto">
        <div class="col">
            <div class="card p-3">
                <h2 class="card-title">Name Four</h2>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque volutpat ac tincidunt vitae semper quis lectus. A diam sollicitudin tempor id eu nisl nunc mi ipsum.
                </p>
            </div>
        </div>
        <div class="col">
            <div class="card p-3">
                <h2 class="card-title">Name Five</h2>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque volutpat ac tincidunt vitae semper quis lectus. A diam sollicitudin tempor id eu nisl nunc mi ipsum.
                </p>
            </div>
        </div>
        <div class="col">
            
        </div>
    </div>
</div>
{% endblock %}