{% extends "naturescall/base.html" %}

{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet1">
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class= "row">
		<div class="col-auto">
			<button class="btn btn-primary mt-3 mb-3" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Filters</button>
			<div class="collapse mb-3" id="collapseExample">
				<div class="card card-body">
					<form class="form-inline my-2 my-lg-0" method="GET" enctype="multipart/form-data">
						{% csrf_token %}
						{{tableFilter.form.as_p}}
						<button href="{% url 'naturescall:search_restroom'%}" class="btn btn-outline-success my-2 my-sm-0 ml-auto" type="submit">Search</button>
					</form>
				</div>
			</div>
			{% if data %}
			<h4 style="color: white">Filtered results</h4>
			{% for d in data %}
			<div class="card mt-3 mb-3 border-0" style="width: 30rem;">
				<img class="card-img-top" src={{d.image_url}} alt="Card image cap" style= "width:100%; height:15vw; object-fit: cover;">
				<div class="card-body">
					<h5 class="card-title">{{d.name}}</h5>
					{% if d.accessible %}
					<i class="material-icons">accessible</i>
					{% endif %}
					{% if d.family_friendly %}
					<i class="material-icons">child_friendly</i>
					{% endif %}
					{% if d.transaction_not_required %}
					<i class="material-icons">attach_money</i>
					{% endif %}
					{% if d.coupon %}
					<button class="btn btn-warning">
						<i class="material-icons">local_offer</i>
						Special Deal Available!
					</button>
					{% endif %}
					<p class="card-text">{{d.addr}}</p>
					<p class="card-text" style="color:DodgerBlue;">{{d.distance}} meters away</p>
					<a href="{% url 'naturescall:restroom_detail' d.db_id %}" class="btn btn-success">Show Details</a>
				</div>
			</div>
			{% endfor %}
			{% endif %}
			{% if data1 %}
			<h4 style="color: white"> Places that may not match all filters </h4>
			{% for d in data1%}
			<div class="card mt-3 mb-3 border-0" style="width: 30rem;">
				<img class="card-img-top" src={{d.image_url}} alt="Card image cap" style= "width:100%; height:15vw; object-fit: cover;">
				<div class="card-body">
					<h5 class="card-title">{{d.name}}</h5>
					{% if d.db_id %}
						{% if d.accessible %}
						<i class="material-icons">accessible</i>
						{% endif %}
						{% if d.family_friendly %}
						<i class="material-icons">child_friendly</i>
						{% endif %}
						{% if d.transaction_not_required %}
						<i class="material-icons">attach_money</i>
						{% endif %}
						{% if d.coupon %}
						<button class="btn btn-warning">
							<i class="material-icons">local_offer</i>
							Special Deal Available!
						</button>
						{% endif %}
					<p class="card-text">{{d.addr}}</p>
					<p class="card-text" style="color:DodgerBlue;">{{d.distance}} meters away</p>
					<a href="{% url 'naturescall:restroom_detail' d.db_id %}" class="btn btn-success">Show Details</a>
					{% else %}
					<p class="card-text">{{d.addr}}</p>
					<p class="card-text" style="color:DodgerBlue;">{{d.distance}} meters away</p>
					<a href="{% url 'naturescall:add_restroom' d.id %}" class="btn btn-info">Add Restroom</a>
					{% endif %}
				</div>
			</div>
			{% endfor %}
			
			{% endif %}
		</div>
		{% if data or data1 %}
		<div class="col-xl" style="background-image: url('{{map}}'); background-repeat: no-repeat; background-attachment: fixed; background-size: contain; background-position: right;">
			{% load static %}
			<img src="{% static 'naturescall/legend2.jpg' %}" class="legend float-right">
		</div>
		{% else %}
		<h3 class="mx-auto" style="color: white">Location Not Found</h3>
		{% endif %}
	</div>
</div>
{% endblock %}
