{% extends "naturescall/index.html" %}
{% load qr_code %}
{% block home %}
<a class="navbar-brand" href={% url 'naturescall:index' %}>Nature's Call</a>
{% endblock %}


{% block form %}
<form class="form-inline my-2 my-lg-0" method="GET" action= "{% url 'naturescall:search_restroom' %}">
  {% csrf_token %}
<input class="form-control mr-sm-2" type="search" placeholder="Search Location" name = "searched" required="required">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
{% endblock %}

{% block content %}
<div class="container">
  <div class="jumbotron bg-success text-white" >
    <h1>Hello {{user}}, Welcome to {{title}} !</h1>
    <div class="col d-flex justify-content-center">

        <!--
        <img src="{% qr_url_from_text "https://team2naturescalldev.herokuapp.com" image_format='png'  cache_enabled=False %}" alt="Hello World!">
        -->
        {% qr_from_text url image_format='png'%}
    </div>
  </div>
</div>
{% endblock %}