{% extends "naturescall/base.html" %}

{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.checked {
    color: orange;
}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <img class="img-fluid" src={{res.yelp_data.image_url}} alt="Card image cap" style= "width:100%; height:15vw; object-fit: cover;">
</div>

<div class="container">
    <div class="d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">
                    {{res.yelp_data.name}}
                    {% if res.yelp_data.accessible %}
                        <i class="fa fa-wheelchair"></i>
                    {% endif %}
                    {% if res.yelp_data.family_friendly  %}
                        <span class="badge badge-secondary bg-primary text-white" >Family Friendly</span>
                    {% endif %}
                    {% if res.yelp_data.transaction_not_required  %}
                        <span class="badge badge-secondary bg-warning text-dark">Transaction Not Required</span>
                    {% endif %}
                </h2>
                {% for star in five_stars %}
                {% if star >= 1.0 %}
                <span class="fa fa-star checked"></span>
                {% elif star >= 0.5 %}
                <span class="fa fa-star-half-full checked"></span>
                {% else %}
                <span class="fa fa-star"></span>
                {% endif %}
                {% endfor %}
                {{rating}}
                <h4 class="card-text">{{res.addr}}</h4>
                <h4 class="card-text">Description:</h4>
                <h4 class="card-text">{{res.desc}}</h4>
                {% if is_first_time_rating %}
                    <a href="{% url 'naturescall:rate_restroom' res.yelp_data.db_id %}" class="btn btn-primary">Rate Now!</a>
                {% else %}
                    <a href="{% url 'naturescall:rate_restroom' res.yelp_data.db_id %}" class="btn btn-primary">Edit Rating</a>
                {% endif %}
                {% if show_claim %}
                    <a href="{% url 'naturescall:claim_restroom' res.yelp_data.db_id %}" class="btn btn-primary">Claim This Restroom!</a>
                {% endif %}
                {% if has_coupon %}
                    <a href="{% url 'naturescall:get_qr' coupon_id %}" class="btn btn-success">QR_code!</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="col d-flex justify-content-center">
    <!-- map card -->
    <iframe
            width="600"
            height="450"
            style="border:0"
            loading="lazy"
            allowfullscreen
            src="https://www.google.com/maps/embed/v1/directions?key={{map_key}}
            &origin={{request.session.search_location}}
            &destination= {{res.addr}}
            &mode=walking">
    </iframe>
    <!-- end of map -->
</div>



<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Ratings</h2>
            {% for rating in ratings %}
                <h4>{{rating.user_id}}</h4>
                <p>
                    Rating: {{rating.rating}}<br>
                    Headline: {{rating.headline}}<br>
                    Comment: {{rating.comment}}<br>
                    {% if rating.response %}
                    Owner reply:<br>
                    Response: {{ rating.response }}<br>
                    {% endif %}
                    <br>
                </p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}