{% extends "naturescall/base.html" %}

{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {
        background-repeat: repeat;
    }
    .checked {
        color: orange;
    }
    .txt-shadow {
        text-shadow: 2px 2px black;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="row">
                <!-- restroom image -->
                <img src={{res.yelp_data.image_url}} alt="Card image cap" style= "width: 600px; height: 15vw; object-fit: cover;">
            </div>
            <div class="row">
                <!-- map card -->
                <iframe
                    width="600"
                    height="450"
                    style="border:0"
                    loading="lazy"
                    allowfullscreen
                    src="https://www.google.com/maps/embed/v1/directions?key={{map_key}}
                    &origin={{request.session.search_location}}
                    &destination= {{res.addr}}
                    &mode=walking">
                </iframe>
                <!-- end of map -->
            </div>
        </div>
        <div class="col-7">
            <!-- restroom info -->
            <div class="container-fluid" style="color: white; background-color: transparent">
                <h2 style="text-shadow: 2px 2px black;">{{res.yelp_data.name}}</h2>
                {% if res.yelp_data.accessible %}
                    <i class="material-icons">accessible</i>
                {% endif %}
                {% if res.yelp_data.family_friendly  %}
                    <i class="material-icons">child_friendly</i>
                {% endif %}
                {% if res.yelp_data.transaction_not_required  %}
                    <i class="material-icons">money_off</i>
                {% endif %}
                {% if is_first_time_rating %}
                    <a href="{% url 'naturescall:rate_restroom' res.yelp_data.db_id %}" class="btn btn-success">Rate Now!</a>
                {% else %}
                    <a href="{% url 'naturescall:rate_restroom' res.yelp_data.db_id %}" class="btn btn-success">
                        <i class="material-icons">mode_edit</i>
                        Edit Rating
                    </a>
                {% endif %}
                {% if show_claim %}
                    <a href="{% url 'naturescall:claim_restroom' res.yelp_data.db_id %}" class="btn btn-success">Claim This Restroom!</a>
                {% endif %}
                <br>
                {% for star in five_stars %}
                {% if star >= 1.0 %}
                <span class="fa fa-star checked"></span>
                {% elif star >= 0.5 %}
                <span class="fa fa-star-half-full checked"></span>
                {% else %}
                <span class="fa fa-star-o checked"></span>
                {% endif %}
                {% endfor %}
                {{rating}}
                <h4 class="card-text txt-shadow">{{res.addr}}</h4>
                <br>
                <h4 class="card-text txt-shadow">Description:</h4>
                <h5 class="card-text txt-shadow">{{res.desc}}</h5>
                <br>
                {% if has_coupon %}
                <h4 class="card-text txt-shadow">Special Deal:</h4>
                <h5 class="card-text txt-shadow">{{coupon_description}}</h5>
                <a href="{% url 'naturescall:get_qr' coupon_id %}" class="btn btn-warning">
                    <i class="fa fa-qrcode"></i> 
                    Coupon
                </a>
                {% endif %}
        </div>
    </div>
</div>

<div class="container mt-3">
    <h2 class="white-center-shadow my-3">
        <i class="material-icons">mode_comment</i>
        Ratings
    </h2>
    <div class="row">
        {% for rf in ratings_flags %}
        <div class="col-sm text-white m-3 p-3" style="background-color: rgba(0,0,0,0.5);">
            <h4>
                <i class="material-icons">person</i>
                {{rf.0.user_id}}
            </h4>
            <p>
                <i class="fa fa-star"></i> Rating: {{rf.0.rating}}<br>
                Headline: {{rf.0.headline}}<br>
                <br>
                <i class="material-icons">mode_comment</i> Comment:<br>
                {{rf.0.comment}}<br>
                {% if rf.0.response %}
                <br>
                &emsp;<i class="material-icons">mode_comment</i> Owner reply:<br>
                &emsp;{{ rf.0.response }}<br>
                {% endif %}
                <br>
                {% if rf.1 %}
                <a class="btn-sm btn-danger" href="{% url 'naturescall:flag_comment' rf.0.id %}">
                    <i class="fa fa-flag"></i>
                    Flag
                </a>
                {% endif %}
                <br>
            </p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
