{% extends "naturescall/base.html" %}

{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.checked {
    color: orange;
}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="row">
                <!-- restroom image -->
                <img src={{res.yelp_data.image_url}} alt="Card image cap" style= "width: 600px; height: 15vw; object-fit: cover;">
            </div>
            <div class="row">
                <!-- map card -->
                <iframe
                    width="600"
                    height="450"
                    style="border:0"
                    loading="lazy"
                    allowfullscreen
                    src="https://www.google.com/maps/embed/v1/directions?key={{map_key}}
                    &origin={{request.session.search_location}}
                    &destination= {{res.addr}}
                    &mode=walking">
                </iframe>
                <!-- end of map -->
            </div>
        </div>
        <div class="col-8">
            <!-- restroom info -->
            <div class="container-fluid" style="color: white; background-color: transparent">
                <h2 style="text-shadow: 2px 2px black;">{{res.yelp_data.name}}</h2>
                {% if res.yelp_data.accessible %}
                    <i class="material-icons">accessible</i>
                {% endif %}
                {% if res.yelp_data.family_friendly  %}
                    <i class="material-icons">child_friendly</i>
                {% endif %}
                {% if res.yelp_data.transaction_not_required  %}
                    <i class="material-icons">attach_money</i>
                {% endif %}
                {% if is_first_time_rating %}
                    <a href="{% url 'naturescall:rate_restroom' res.yelp_data.db_id %}" class="btn btn-success">Rate Now!</a>
                {% else %}
                    <a href="{% url 'naturescall:rate_restroom' res.yelp_data.db_id %}" class="btn btn-success">Edit Rating</a>
                {% endif %}
                {% if show_claim %}
                    <a href="{% url 'naturescall:claim_restroom' res.yelp_data.db_id %}" class="btn btn-success">Claim This Restroom!</a>
                {% endif %}
                {% if has_coupon %}
                    <a href="{% url 'naturescall:get_qr' coupon_id %}" class="btn btn-success">QR_code!</a>
                {% endif %}
                <br>
                {% for star in five_stars %}
                {% if star >= 1.0 %}
                <span class="fa fa-star checked"></span>
                {% elif star >= 0.5 %}
                <span class="fa fa-star-half-full checked"></span>
                {% else %}
                <span class="fa fa-star-o checked"></span>
                {% endif %}
                {% endfor %}
                {{rating}}
                <h4 class="card-text" style="text-shadow: 2px 2px black;">{{res.addr}}</h4>
                <br>
                <h4 class="card-text" style="text-shadow: 2px 2px black;">Description:</h4>
                <p class="card-text" style="text-shadow: 2px 2px black;">{{res.desc}}</p>
        </div>
    </div>
</div>

<div class="container">
    <h2 style="color: white; text-shadow: 2px 2px black;">Ratings</h2>
    {% for rf in ratings_flags %}
    <div class="card text-white mb-3" style="background-color: rgba(0,0,0,0.5)">
        <div class="card-body">
            <h4>{{rf.0.user_id}}</h4>
            <p>
                Rating: {{rf.0.rating}}<br>
                Headline: {{rf.0.headline}}<br>
                <br>
                Comment: <br>
                {{rf.0.comment}}<br>
                {% if rf.0.response %}
                <br>
                &emsp;Owner reply:<br>
                &emsp;{{ rf.0.response }}<br>
                {% endif %}
                {% if rf.1 %}
                <a href="{% url 'naturescall:flag_comment' rf.0.id %}" class="btn btn-danger btn-sm">Flag</a>
                {% endif %}
                <br>
            </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
