body {
    background-image: url("images/canopy-header.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

a {
    color: #2cdf33;
}

a:hover {
    color: green;
}

.material-icons {
    display: inline-flex;
    vertical-align: middle;
}

.ratings {
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
}