{% extends "naturescall/base.html" %}

{% block content %}
<div class="container ratings">
	
	<h2>User-Profile</h2>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<fieldset class="form-group">
			{{ u_form.as_p}}
			<h4>Preference</h4>
			{{ p_form.as_p}}
		</fieldset>
		<input class="btn btn-success" type="submit" value="Update">
	</form>
	
</div>
{% if claims %}
<div class="container ratings">
	<div class="accordion" id="accordion1">
		<br>
		<h3>My Restrooms</h3>
		{% for claim in claims %}
		<div class="card">
			<div class="card-header" id="heading-{{claim.pk}}">
				<h2 class="mb-0">
					<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{claim.pk}}" aria-expanded="true" aria-controls="collapse-{{claim.pk}}">
						<a href="{% url 'naturescall:manage_restroom' claim.restroom_id_id %}"> {{claim.restroom_id}} </a>
					</button>
				</h2>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}
<div class="container ratings">
	<div class="accordion" id="accordionExample">
		<br>
		<h3>Ratings and Reviews</h3>
			{% for rating in ratings %}
			<div class="card">
				<div class="card-header" id="heading-{{rating.pk}}">
					<h2 class="mb-0">
						<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{rating.pk}}" aria-expanded="true" aria-controls="collapse-{{rating.pk}}">
							{{rating.restroom_id}}
						</button>
					</h2>
				</div>

				<div id="collapse-{{rating.pk}}" class="collapse" aria-labelledby="heading-{{rating.pk}}" data-parent="#accordionExample">
					<div class="card-body">
						<li>Rating: {{rating.rating}}</li>
						<li>Headline: {{rating.headline}}</li>
						<li>Comment: {{rating.comment}}</li>
						<a href="{% url 'naturescall:rate_restroom' rating.restroom_id_id %}" >Edit</a><br>
						<a href="{% url 'naturescall:delete_rating' rating.restroom_id_id %}" >Delete</a>
					</div>
				</div>
			</div>
			{% endfor %}
	</div>
</div>
{% endblock %}