body {
    background: white url("images/canopy-header.380f15287baa.jpeg");
}

.dropdown-menu {
    background-color: rgba(0,0,0,0.5);
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    color: white;
    background-color: rgba(32,32,32,0.5);
}

.material-icons {
    display: inline-flex;
    vertical-align: middle;
}

#logo {
    color: white;
    width:100%;   
}

#logo h1 {
    font-size: 60px;
    text-shadow: 1px 2px 3px #999;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
}

#logo p {
    padding-bottom: 20px;
}